.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
}

.popup-inner{
    position: relative;
    width: 40%;
    min-height: 35%;
    background-color: #fff;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 25px;
}
.close-btn{
    /* border: 2px solid black; */
}
.popup-loading-container{
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  flex-direction: column;
  margin-top: 13vh;
}
.popup-loading-container p{
  font-size: 0.9em;
  font-weight: 500;
}


