.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
    cursor: pointer;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper p{
    font-size: 0.9em !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
    padding-bottom: 8px;
    padding-top: 8px;
}